@import java.util.concurrent.CompletableFuture
@import java.util
@import utils.Timing
@(calls: util.List[CompletableFuture[Timing]])

<html>
    <head></head>
    <body>
        @for(index <- 0 until calls.size) {
            <li>
                URL: <a href="@calls(index).get().url">@calls(index).get().url</a> |
                START: @calls(index).get().start |
                END: @calls(index).get().end |
                LATENCY: @calls(index).get().latency
            </li>
        }
    </body>
</html>